.vs

WinFormCVU/bin/Debug/Stream_camera
WinFormCVU/bin/Debug/Output
WinFormCVU/obj/Debug/WinFormCVU.csproj.FileListAbsolute.txt
WinFormCVU/obj/Debug/WinFormCVU.csproj.GenerateResource.cache
WinFormCVU/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
